<div class="jumbotron jumbotron-fluid mb-3 mb-md-5 text-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>ngx-rightclick</h1>
        <p class="mb-2">Context Menu Service for Angular</p>
        <mdo-github-button user="typectrl" repo="ngx-rightclick"></mdo-github-button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <h3>Examples:</h3>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="/simple" routerLinkActive="active">Simple</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/multiple" routerLinkActive="active">Multiple Targets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/submenu" routerLinkActive="active">Submenu</a>
        </li>
      </ul>

    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
