<div class="jumbotron jumbotron-fluid mb-3 mb-md-5 text-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>ngx-rightclick</h1>
        <mdo-github-button user="typectrl" repo="ngx-rightclick"></mdo-github-button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <h3>Examples:</h3>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="/simple" routerLinkActive="active">Simple</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Multiple Targets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Multiple Menus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Submenu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dynamic Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nested</a>
        </li>
      </ul>

    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



  <!-- <div style="width: 100%">
  <div style="border-top: 1px solid #e9eef2;" [contextMenuTrigger]="menu" [menuContext]="i" *ngFor="let i of items">
    <div style="height: 40px;background-color: black;">{{ i.name }}</div>
  </div>
</div> -->
